/*
Forms

Base form elements which are used in OpenLMIS are presented below.

markup:
<input type="text">
<input type="text" rnr-validator="positiveInteger" maxlength="8" required>
<select>
	<option value="option1">Option1</option>
	<option value="option2">Option2</option>
</select>
<input type="checkbox">
<input type="radio" ng-model="selectedType" value="0">
<input type="radio" ng-model="selectedType" value="1">

Styleguide 4.0
*/

input[rnr-validator="positiveInteger"] {
  text-align: right;
}

input[type="radio"] {
    margin: 0;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer;
}

select, input[type="text"] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}





