/*
Forms

Base form elements which are used in OpenLMIS are presented below.

markup:
<form>
	<legend>Example form elements</legend>
		<label for="exampleTextInput" style="font-size:18px">Example text input elements</label>
		<div id="exampleTextInput">		
			<p>Text input 1:
			<input type="text" /></p>
			<p>Text input 2:
			<input type="text" rnr-validator="positiveInteger" maxlength="8"/></p>
		</div>
		<label for="exampleCombobox" style="font-size:18px">Example combo box element</label>
		<div id="exampleCombobox">
			<select style="border-radius: 3px !important;">
				<option value="1">--Select Option-</option>
				<option value="0">EPI</option><option value="1">ART</option>
				<option value="2">Essential Medicines</option>
				<option value="3">Family Planning</option>
				<option value="4">Malaria</option>
			</select>
		<label for="exampleCheckBox" style="font-size:18px">Example check box elements</label>
		<div id="exampleCheckBox">
			<p><input type="checkbox" value="0" />Option 1</p>
			<p><input type="checkbox" value="1" />Option 2</p>
		</div>
		<label for="radioInput" style="margin-top:10px;font-size:18px">Example radio elements</label>
		<div id="radioInput" >
			<p><input type="radio" name="radioExample" value="0" />Option 1</p>
			<p><input type="radio" name="radioExample" value="1" />Option 2</p>
		</div>	
		<label for="multiInputControl" style="margin-top:10px;font-size:18px">Example button group element</label>
		<div id="multiInputControl" >
			<div id="searchControl" class="row-fluid" >
				<div class="span5 search-in-category">
				      	<div class="input-append input-prepend">
						<div class="btn-group">
							<button style="border-radius: 3px !important;" class="btn dropdown-toggle" onclick="if(this.parentNode.className==='btn-group'){this.parentNode.className='btn-group open';}else{this.parentNode.className='btn-group';};">
								<span id="selectedSearchOption" openlmis-message="selectedSearchOption.name"> 										Option 1
								</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="border-radius: 6px !important;">
								<li class="ng-scope" onclick="this.parentNode.parentNode.childNodes[1].childNodes[1].innerHTML='Option 1';this.parentNode.parentNode.className='btn-group'">
									<a id="searchOption0">
										Option 1
									</a>
								</li>
								<li class="ng-scope" onclick="this.parentNode.parentNode.childNodes[1].childNodes[1].innerHTML='Option 2';this.parentNode.parentNode.className='btn-group'">
									<a id="searchOption1">
										Option 2
									</a>
								</li>
							</ul>
						</div>
						<input type="text" class="span5" />
						<button style="border-radius: 3px !important;" class="btn">
							  <i id="searchIcon" class="icon-search"></i>
						</button>
					</div>
				</div>
			</div>	
		</div>
		<label for="dataField" style="margin-top:10px;font-size:18px">Example data field element</label>
		<div id="dataField" class="form-field">
                            <input value="11/11/11" type="text" ui-date="{dateFormat: 'dd/mm/yy', changeYear: true}" ui-date-format="yy-mm-dd" class="ng-pristine ng-invalid ng-invalid-required hasDatepicker">
                 </div>
</form>

Styleguide 3.0
*/

.row-fluid {
    width: 100%;
}

.dropdown-menu li > a {
    padding: 6px 0 6px 13px;
    color: #333;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}

input[rnr-validator="positiveInteger"] {
  text-align: right;
}

input[type="radio"] {
    margin: 0;
}

input[ui-date] {
    background: #ffffff url(../images/calendar-icon.png) no-repeat 98% center;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer;
}

select, input[type="text"] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}




