/*
Tables

Tables in OpenLMIS are used to present data retrieved from the database. They can include not only text, but also icons and buttons.

markup:
<div class="table-container">
  <table id="facilityApprovedProductTable" class="table table-bordered search-list">
    <thead>
      <tr class="gradient-header resultCountHeader">
        <th colspan="11">
            <h3>4 record(s) found</h3>
        </th>
      </tr>
      <tr class="gradient-header">
        <th class="col-full-supply">Fully Supply</th>
        <th class="col-product-code">Code</th>
        <th class="col-name">Name</th>
        <th class="col-strength">Strenght</th>
        <th class="col-unit-measure">Unit of measure</th>
        <th class="col-max-months-stock">
          <span>Max months of stock</span>
          <span class="label-required">*</span>
        </th>
        <th class="col-min-months-stock">Min months of stock</th>
        <th class="col-eop">Emergency Order Point</th>
        <th class="col-icon-ok">Global active</th>
        <th class="col-icon-ok">Active at program</th>
        <th class="col-action"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="productCategory" colspan="11">Anti-malarials</td>
      </tr>
      <tr>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td>P00833</td>
        <td>Quinine Sulphate</td>
        <td>300</td>
        <td>mg</td>
        <td class="right-justified col-max-months-stock">6</td>
        <td class="right-justified position-relative col-min-months-stock"></td>
        <td class="right-justified position-relative col-eop"></td>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td></td>
        <td>
          <input class="btn btn-primary btn-small" value="Edit" type="button"/>
          <input class="btn btn-danger btn-small" value="Delete" type="button"/>
        </td>
      </tr>
      <tr>
        <td class="productCategory" colspan="11">Anti-pyretics</td>
      </tr>
      <tr>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td>N-378013</td>
        <td>Tramedol</td>
        <td>50mg/ml</td>
        <td>mg</td>
        <td class="right-justified col-max-months-stock">6</td>
        <td class="right-justified position-relative col-min-months-stock"></td>
        <td class="right-justified position-relative col-eop"></td>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td></td>
        <td>
          <input class="btn btn-primary btn-small" value="Edit" type="button"/>
          <input class="btn btn-danger btn-small" value="Delete" type="button"/>
        </td>
      </tr>
      <tr>
        <td class="productCategory" colspan="11">Malaria-Prophylaxis</td>
      </tr>
      <tr>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td>A41099</td>
        <td>Doxycycline</td>
        <td>100</td>
        <td>mg</td>
        <td class="right-justified col-max-months-stock">6</td>
        <td class="right-justified position-relative col-min-months-stock"></td>
        <td class="right-justified position-relative col-eop"></td>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td></td>
        <td>
          <input class="btn btn-primary btn-small" value="Edit" type="button"/>
          <input class="btn btn-danger btn-small" value="Delete" type="button"/>
        </td>
      </tr>
      <tr>
        <td class="productCategory" colspan="11">Test Kits</td>
      </tr>
      <tr>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td>KM3375-2</td>
        <td>Malaria Rapid Diagnostic Test</td>
        <td>1</td>
        <td>each</td>
        <td class="right-justified col-max-months-stock">6</td>
        <td class="right-justified position-relative col-min-months-stock"></td>
        <td class="right-justified position-relative col-eop"></td>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td></td>
        <td>
          <input class="btn btn-primary btn-small" value="Edit" type="button"/>
          <input class="btn btn-danger btn-small" value="Delete" type="button"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

Styleguide 1.6
*/

.table-container {
  overflow: auto;
}
.table-container table {
  max-width: 100%;
  word-wrap: break-word;
}
.col-icon-ok {
  max-width: 50px;
  min-width: 50px;
}
table.search-list {
  border: 1px solid #ddd;
  border-left: 0;
}
.gradient-header th {
  min-width: 93px;
  background: #EEE;
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e0e0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0e0e0', GradientType=0);
  /* IE6-9 */
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  color: #444;
}
#facilityApprovedProductTable th,
#facilityApprovedProductTable td {
  line-height: 15px;
}
#facilityApprovedProductTable .col-full-supply {
  max-width: 50px;
  min-width: 50px;
}
#facilityApprovedProductTable .col-product-code {
  min-width: 100px;
  max-width: 125px;
}
#facilityApprovedProductTable .col-strength,
#facilityApprovedProductTable .col-unit-measure {
  min-width: 80px;
  max-width: 100px;
}
#facilityApprovedProductTable .col-action {
  min-width: 125px;
}
#facilityApprovedProductTable .col-max-months-stock,
#facilityApprovedProductTable .col-min-months-stock,
#facilityApprovedProductTable .col-eop {
  min-width: 60px;
  max-width: 125px;
}
#facilityApprovedProductTable .col-max-months-stock input[type="text"],
#facilityApprovedProductTable .col-min-months-stock input[type="text"],
#facilityApprovedProductTable .col-eop input[type="text"] {
  margin-bottom: 0;
  width: 85%;
}

