/*
Icons

This is collection of icons used in OpenLMIS.

markup:
<ul>
  <li><i class="icon-ok"></i> - Ok</li>
  <li><i class="icon-search"></i> - Search</li>
  <li><i class="icon-cog"></i> - Configuration</li>
  <li><i class="icon-resize-full"></i> - Full screen</li>
  <li><a class="remove-row" href="">×</a> - Remove row</li>
  <li>
    <div class="search-list" style="border: 0px; margin: 0px;">
      <a class="close-btn" href="" style="left: 0px; top: 0px;"></a>
      <span style="position: relative; left: 25px;"> - Close search list</span>
    </div>
  </li>
</ul>

Styleguide 1.5
*/

.icon-ok:before {
  content: "\f00c";
}
.icon-search:before {
  content: "\f002";
}
.icon-cog:before {
  content: "\f013";
}
.icon-resize-full:before {
  content: "\f065";
}
.search-list .close-btn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 10px;
  right: 11px;
  opacity: 0.8;
  background: url(../images/close-icon.png) no-repeat left top;
  text-indent: -999em;
}
