/*
Icon Buttons

Buttons may also consist of the image itself.

markup:
<div class="btn-group">
  <button type="button" class="btn btn-default">
    <i class="fa fa-list-ul"></i>
  </button>
  <button type="button" class="btn btn-default">
    <i class="fa fa-list-ol"></i>
  </button>
  <button type="button" class="btn btn-default">
    <i class="fa fa-ban"></i>
  </button>
</div>

Styleguide 1.3.2
*/

.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-ban:before {
  content: "\f05e";
}
